<!DOCTYPE html>
<html>
<!--     <% include partials/schedule.ejs%>
 -->    <body>

        <div class="d-flex justify-content-center">
            <h1>Ratings</h1>
        </div>
        <div class="d-flex justify-content-center">

      </div>
        <div class="d-flex justify-content-center">
            <div class="form-group bg-white p-2 rounded shadow">
          </div>
        </div>

    </body>
</html>
